@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 96%; /* #FAF9F6 - Ivory */
    --foreground: 22 27% 20%; /* #43302B - Dark Brown */
    
    --card: 0 0% 100%;
    --card-foreground: 22 27% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 22 27% 20%;

    --primary: 27 45% 39%; /* #8C6239 */
    --primary-foreground: 40 33% 98%;

    --secondary: 27 45% 59%; /* #C69C6D */
    --secondary-foreground: 22 27% 20%;

    --muted: 25 22% 58%; /* #A4958F - Muted Brown-Gray */
    --muted-foreground: 25 22% 38%;

    --accent: 38 52% 56%; /* #C5A059 - Antique Gold */
    --accent-foreground: 22 27% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 25 33% 86%; /* #DCC8BA - Soft Clay */
    --input: 25 33% 86%;
    --ring: 38 52% 56%;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }

  .dark {
    --background: 14 28% 11%; /* #2c1e1a */
    --foreground: 40 33% 96%;
    
    --card: 14 28% 13%;
    --card-foreground: 40 33% 96%;

    --popover: 14 28% 11%;
    --popover-foreground: 40 33% 96%;

    --primary: 27 45% 49%;
    --primary-foreground: 40 33% 98%;

    --secondary: 27 45% 39%;
    --secondary-foreground: 40 33% 96%;

    --muted: 14 28% 21%;
    --muted-foreground: 40 33% 70%;

    --accent: 38 52% 66%;
    --accent-foreground: 22 27% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 14 28% 25%;
    --input: 14 28% 25%;
    --ring: 38 52% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header .h-24 {
  height: 100px;
}

header .h-28 {
    height: 112px;
}
